@charset "UTF-8";

@font-face {
    font-family: Qotho;
    src: url(_fontes/qotholightcondensed.otf);
}

/*Site*/
textarea:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

input:focus {
	outline:0;
}input.botpe2:active{
	width: 38px !important;
	margin: 2.5px;	
}input.botpe:active{
	width: 36px !important;
	margin: 2px;
}input.seta1:active{
	width: 36px !important;
	margin: 2px;
}input.seta2:active{
	width: 36px !important;
	margin: 2px;
}

p#tit{
	position: absolute;
	color: white;
	font-size: 25pt;
	margin: 0px;
	top: 11%;
	right: 50px;
	left: 50px;
	text-align: center;
	font-family: Cabin Sketch;
	z-index: 6;
}

img.logo_seatel{
	width: 150px;
	position: absolute;
	left: 2%;
	top: 4%;
	z-index: 6;
}

img.logo_seatel2{
	position: absolute;
	width: 150px;
	left: 2.2%;
	top: 4%;
	z-index: 6;
}

.site{
	position: relative;
	left: 0px;
}

div#inicio{
	width: 110%;
	height: 100%;	
	background: black url('../_imagens/inicio/fundo_int.png') center / cover no-repeat fixed;
	text-align: center;
}

div#pt1{
	height: 100%;
	background-color: white;
	width: 100%;
	border-right: 300px solid white;	
}

div#pt2{
	width: 100%;
	height: 100%;
	border-right: 300px solid rgb(0, 112, 224);	
	background-color: rgb(0, 112, 224);
}

div#pt3{
	width: 100%;
	height: 100%;
	background: url('../_imagens/programacao/cron/crnback.png') center / cover no-repeat;
	border-right: 300px solid white;	
}

div#pt4{
	height: 100%;
	width: 110%;
	background: url('../_imagens/programacao/progback.png') center / cover no-repeat;
	z-index: 7;
}

div#pt5{
	height: 30%;
	width: 100%;
	border-right: 300px solid rgb(255, 224, 0);
	background-color: rgb(255, 224, 0);
	z-index: 7;
}

div#pt6{
	height: 100%;
	width: 110%;
	background-image: url('../_imagens/inscricao/fundo_inscricao.png');
	background-size: cover;
	z-index: 7;
}

div#pt7{
	height: 427px;
	margin: 0px; 
	padding: 0px; 
	width: 100%;
}

div#pt8{
	width: 110%;
	height: 100%;
	background: url('../_imagens/inicio/fundo_int.png')  center / cover no-repeat fixed;
	z-index: 7;
}

img#botdown{
	position: fixed;
	right: 2%;
	top: 87%;
	width: 40px;
	margin: 1%;
	z-index: 8;
}

img#botdown:hover{
	cursor: pointer;
}

img#botdown:active{
	width: 36px !important;
	margin: 15px;
}

/*Inicio*/
div#inicio input#botin1{
	position: absolute;
	top: 90%;
	width: 40px;
	margin: 1%;	
	left: 45%;
}

div#inicio input#botin0{
	position: absolute;
	top: 90%;
	width: 40px;
	margin: 1%;	
	left: 41%;
}

div#inicio img#logo{
	position: relative;
	top: 30%;
	left: 12%;
	width: 20%;
}

div#inicio input#botao{
	position: relative;
	height: 64px;
	background: none;
	border: white solid 2px;
	top: 50%;
	left: -15%;
	width: 32%;
	font-family: Qotho;
	font-size: /*38pt*/ 300%;
	color: white;
	text-align: center;
}

div#inicio input#botao:hover{
	background-color: rgba(255, 255, 255, .15);
	cursor: pointer;
}

/*Oque é a seatel*/
p#textseatel{
	position: absolute;
	text-align: center;
	font-size: 200%;
	font-family: Qotho; 
	top: 25%;
	left: 20%;
	right: 20%;
}

/*Patrocinadores*/
img#logotipo{
	position: absolute;
	width: 40%;
	left: 30%;
	top: 17%;
	margin: 0%;
	transition: width .25s, margin .25s;
}

img#circle{
	top: 0%;
	width: 75%;
	position: absolute;
	left: 12.5%;
}

div.pat a:hover img#logotipo{
	width: 50%;
	margin: -5%;
}

#pat1{
	left: 20%;	
}
#pat2{
	right: 20%;
}

div#pt2 div.pat{
	position: absolute;
	top: 25%;
	width: 240px;
	margin: 1.25%;
	height: 240px;
}

div.pat p{
	right: 1%;
	left: 1%;
	position: absolute;
	color: white;
	text-align: center;	
}

p#emp{
	font-family: Qotho;
	font-size: 160%;
	top: 65%;
}

p#inf{
	font-family: helvetica;
	font-size: 80%;
	width: 350px;
	left: -55px;
	top: 85%;
	line-height: 150%;
}

/*Cronograma*/
figure.crono{
	position: absolute;
	margin: 20px;
	top: 35%;
}

figure#crono1{
	left: calc(48% - 490px);
}figure#crono2{
	left: calc(48% - 150px);
}figure#crono3{
	left: calc(48% + 190px);	
}

figure.crono img{
	width: 300px;
	height: 172.5px;
}

img.crono_img{
	margin: 20px;
}

figcaption.mais:hover {
	opacity: 0.8;
}

figcaption.text_ev{
	position: relative;
	font-size: 20pt;
	width: 100%;
	text-align: center;
	font-family: Cabin Sketch;
	color: rgb(112, 224, 0);
	top: calc(-220px - 20pt);
}

figcaption.mais{
	position: relative;
	width: 300px;
	height: 172.5px;
	top: -228px;
	left: 20px;
	opacity: 0;
	webkit-transition: 1s;
	transition: 1s;
}

/*Programação (slider1)*/
div.slider{
	position: relative;
	width: 100%;
	margin: none;
	overflow: hidden;
}

div.slider#slider1{
	height: 80%;
	top: 20%;
}

img.circl{
	position: relative;
	width: 15px;
	top: calc(96% - 7.5px );
}

#prog0{
	position: absolute;
	top: 57px;
	width: 495px;
	left: calc(46% - 1148px)/*-465px*/;
	height: 305px;
	background: url('../_imagens/programacao/eventos/visitas.png') center / cover no-repeat;
	padding: 20px;
	padding-left: 60px;
	padding-right: 60px;
}

#prog1{
	position: absolute;
	width: 700px;
	left: calc(46% - 410px)/*273px*/;
	height: 420px;
	background: url('../_imagens/programacao/eventos/palestras.png') center / cover no-repeat;
	padding: 20px;
	padding-left: 60px;
	padding-right: 60px;
	overflow-y: scroll;
}

#prog2{
	position: absolute;
	top: 57px;
	width: 495px;
	left: calc(46% + 533px)/*1216px*/;
	height: 305px;
	background: url('../_imagens/programacao/eventos/cursos.png') center / cover no-repeat;
	padding: 20px;
	padding-left: 60px;
	padding-right: 60px;
	overflow-y: scroll;
}

#prog3{
	position: absolute;
	top: 57px;
	width: 495px;
	left: calc(46% + 1271px)/*1954px*/;
	height: 305px;
	background: url('../_imagens/programacao/eventos/cultural.png') center / cover no-repeat;
	padding: 20px;
	padding-left: 60px;
	padding-right: 60px;
}

div#cabe{
	position: relative;
	width: 200px;
	height: 20.238%;
}

p.progtit{
	position: absolute;
	text-align: center;
	right: 20%;
	left: 20%;
	color: white;
	font-size: 30pt;
	margin: 1.4286%;
	margin-bottom: 3.572%;
	font-family: Qotho;
}

img.evento{
	position: relative;
	margin: 1.4286%;
	z-index: 10;
}

img#ev1{
	width: 21.428%;
	height: 35.714%;
}

input.seta1{
	top: 220px;
	position: absolute;
	width: 40px;
	z-index: 6;
}

input#sdir1{
	left: calc(46% + 413px)/*1096px*/;
}

input#sesq1{
	left: calc(46% - 453px)/*230px*/;
}

/*Expoeletrica*/ 
div#pt5 input{
	position: absolute;
	top: 57%;
	font-family: Qotho;
	font-size: 17pt;
	text-align: center;
	color: white;
}

input#expoa{
	width: 10%;
	left: 45%;
	background: none;
	border: white solid 2px;
	height: 30px;
}

input#expoa:hover{
	background-color: rgba(0,0,0,.2);
	cursor: pointer;
}

/*Inscrição*/
input.bins{
	position: absolute;
	top: 28%;
	border-color: rgb(128,0,0) !important;
	font-size: 20pt;
	height: 40px;
	text-align: center;
	width: 300px;
	margin-left: 10px;
	background: none;
	font-family: Qotho;
	padding-left: 10px;
	background: none !important;
}

input.bins:hover{
	cursor: pointer;
	background: rgba(128,0,0,.3) !important;
}

input#bottermo{
	left: calc(30% - 150px);
}

input#botinf{
	left: calc(60% - 150px);
}

p#linkCUP{
	position: absolute;
	font-size: 20pt;
	margin: 0px;
	top: 45%;
	right: calc(9% + 50px);
	left: 50px;
	text-align: center;
	font-family: Qotho;
	color: rgb(128,128,128); 
	z-index: 6;	
}

p#linkCUP a{
	color: rgb(128,0,0) !important; 	
	text-decoration: none;
}

p#linkCUP a:hover{
	text-decoration: underline;
}

img#logcup{
	position: absolute;
	top: 65%;
	width: 10%;
	left: 41%;
	text-align: center;
}


/*Equipe (slider2)*/
div.slider#slider2{
	height: 100%;
	top: 0%;
	border-right: 300px solid rgb(0, 112, 224);
	background-color: rgb(0, 112, 224);
}

div#pt7 img#mascara{
	top: 0%;
	position: absolute;
	height: 427px;
	width: 1366px;
	left: calc(50% - 683px);
	z-index: 5;
}

input.seta2{
	top: 190px;
	position: absolute;
	width: 40px;
	z-index: 6;
}

input#sdir2{
	right: calc(40% - 20px);
}

input#sesq2{
	left: calc(40% - 20px);
}

img#foto{
	width: 160px;
	left: calc(50% - 80px);
	position: absolute;
	top: 137px;
	z-index: 2;
}

img#esc{
	left: 10%;
	position: absolute;
	top: 137px;
	width: 160px;
	z-index: 2;
}

input#botup{
	position: absolute;
	right: 3%;
	width: 41px;
	top: 23%;
	z-index: 6;
}

p#nome{
	position: absolute;
	color: white;
	font-size: 20pt;
	margin: 0px;
	text-align: center;
	top: 290px;
	left: 100px;
	right: 100px;
	font-family: Qotho;
	z-index: 6;
}

p#cargo{
	position: absolute;
	color: white;
	font-size: 20pt;
	margin: 0px;
	text-align: center;
	top: 320px;
	left: 100px;
	right: 100px;
	font-family: Cabin Sketch;
	z-index: 6;
}

p#coordn{
	position: absolute;
	color: white;
	font-size: 20pt;
	margin: 0px;
	text-align: center;
	top: 105px;
	right: calc(5% + 41px);
	font-family: Cabin Sketch;
	z-index: 6;
}


/*Contatos*/
input#setaup{
	position: absolute;
	left: 44%;
	width: 41px;
	top: 93.7%;
}

p.continf{
	color: white;
	text-align: center;
	font-family:  Qotho;
	position: absolute;
	font-size: 150%;
	top: 28%;
	left: 50px; 
	right: calc(8% + 50px);
}

p.continf a{
	text-decoration: none; 
	position: relative;
	color: white;
}

p#contP{
	margin-left: -450px;	
}

p#contE{
	margin-right: -450px;	
}

a#imagens{
	width: 2%;
	top: 58%;
	transition: width .25s, margin .25s;
}

a#imagens:hover{
	width: 2.5%;
	margin: -.25%;
}

.textcont{
	position: absolute;
	color: white;
	font-family: Qotho;
	text-align: center;
}

a#email{
	left: 50px; 
	right: calc(8% + 50px);
	top: 66%;
	font-size: 150%;
}

p#textcont{
	left: 50px; 
	right: calc(8% + 50px);
	top: 76%;
	font-size: 120%;
}

img#social{
	width: 100%;
}

/*Menu*/
img#botmenu{
	position: fixed;
	right: 2%;
	top: 3%;
	width: 40px;
	margin: 1%;
	z-index: 8;
}

img#botmenu:hover{
	cursor: pointer;
}

img#botmenu:active{
	width: 36px !important;
	margin: 15px;
}

.imgmenu{
	position: relative;
	width: 100%;
	left: 0px;
}

.imgmenu:hover{
	cursor: pointer;
	background-color: rgba(0, 0, 0, .5);
}

div#menu{
	background-color: rgba(0, 0, 0, .5);
	position: fixed;
	width: 20%;
	top: 0px;
	height: 100%;
	color: white;
	font-family: Arial;
	font-size: 20pt;
	font-weight: bold;
	z-index: 10;
}



/* *************************************** MODAL *************************************** */
#modal{
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	display: none;
	z-index: 15;
}

.modal-box{
	background-color: white;
	width: 1000px;
	height: 564px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -282px;
}

.fechar{
	width: 52px;
	height: 25px;
	position: absolute;
	right: 10px;
	top: 0;
	cursor: pointer;
}

.fechar p{
	color: red;
	font-family: humanst521 lt bt;
	text-align: center;
}

.fechar:hover{
	background-color: red;
}

.fechar:hover p{
	color: white; 
}