@charset "UTF-8";

div{
	overflow-x: hidden;
}

input.botpe2:active{
	width: 72px !important;
	margin: 16px;	
}input.botpe:active{
	width: 54px !important;
	margin: 2px;
}input.seta1:active{
	width: 54px !important;
	margin: 2px;
}input.seta2:active{
	width: 54px !important;
	margin: 2px;
}

p#tit{
	font-size: 35pt;
	top: 8%;
}

img.logo_seatel{
	width: 180px;
}

img.logo_seatel2{
	width: 180px;
}

div#inicio{
	width: 100%;
	height: 100%;	
}

div#pt1{
	height: 60%;
	width: 100%;
	border-right: none;	
}

div#pt2{
	width: 100%;
	border-right: none;
	height: 30%;
}

div#pt3{
	width: 100%;
	border-right: none;	
	height: 60%;
}

div#pt4{
	height: 55%;
	width: 100%;
}

div#pt5{
	height: 20%;
	width: 100%;
	border-right: none;
}

div#pt6{
	height: 70%;
	width: 100%;
}

div#pt7{
	height: 427px;
	width: 100%;
}

div#pt8{
	width: 100%;
	height: 100%;
}

img#botdown{
	width: 80px;
}

img#botdown:active{
	width: 72px !important;
	margin: 15px;
}

/*Início*/
div#inicio input#botin1{
	position: absolute;
	top: 90%;
	width: 80px;
	margin: 1%;	
	left: 53%;
}

div#inicio input#botin0{
	position: absolute;
	top: 90%;
	width: 80px;
	margin: 1%;	
	left: 38%;
}

div#inicio img#logo{
	position: relative;
	top: 30%;
	left: 0%;
	width: 60%;
}

div#inicio input#botao{
	height: 100px;
	border: white solid 2px;
	top: 40%;
	left: 0%;
	width: 45%;
	font-size: 50pt;
}

div#inicio input#botao:active{
	background-color: rgba(255, 255, 255, .15);
}

/*Oque é a seatel*/
p#textseatel{
	font-size: 30pt; 
	top: 18%;
}

/*Patrocínio*/
div#pt2 div.pat{
	top: 30%;
	width: 300px;
	height: 320px;
}

#pat1{
	left: 15%;
}#pat2{
	left: 51%;
}

p#emp{
	font-size: 25pt;
	top: 65%;
}

p#inf{
	opacity: 0;
}

/*Cronograma*/
figcaption.mais:active {
	opacity: 0.7;
}

figure.crono{
	top: 23%;
}

figure.crono img{
	width: 360px;
	height: 207px;
}

figure#crono1{
	left: calc(48% - 380px);
}figure#crono2{
	top: calc(23% + 287px);
	left: calc(48% - 190px);
}figure#crono3{
	left: calc(48% + 20px);	
}

figcaption.text_ev{
	font-size: 25pt;
	top: calc(-250px - 25pt);
}

figcaption.mais{
	width: 360px;
	height: 207px;
	top: -270px;
}


/*Programação (slider1)*/
div.slider#slider1{
	overflow: visible;
	height: 80%;
	top: 20%;
	left: 4%;
}

div#pt4 p#tit{
	right: calc(1% + 50px) !important;
}

img.circl{
	width: 15px;
	top: calc(90% - 7.5px );
}

input.seta1{
	width: 60px;
}

input#sdir1{
	left: calc(46% + 413px);
}

input#sesq1{
	left: calc(46% - 474px);
}


/*Expoeletrica*/ 
div#pt5 input{
	top: 55%;
	font-size: 35pt;
}

div#pt5 p{
	font-size: 30pt;
	left: 15%;
}

input#expoa{
	width: 30%;
	left: 39%;
	border: white solid 3px;
	height: 60px;
}

/*Inscrição*/
div#pt6 p#tit{
	left: 15%;
}

input.bins{
	font-size: 28pt;
	height: 50px;
	width: 430px;
}

input.bins:active{
	background: rgba(128,0,0,.3) !important;
}

input#bottermo{
	top: 20%;
	left: 27%;
}

input#botinf{
	top: 33%;
	left: 27%;
}

p#linkCUP{
	font-size: 30pt;
	top: 45%;
	left: 17%;
}

p#linkCUP a{	
	text-decoration: underline;
}

img#logcup{
	position: absolute;
	top: 67%;
	width: 25%;
	left: 39%;
	text-align: center;
}

/*Equipe (slider2)*/
input.seta2{
	width: 60px;
}

input#sdir2{
	right: calc(40% - 60px);
}

input#sesq2{
	left: calc(40% - 60px);
}


input#botup{
	width: 60px;
	right: 2%;
}

p#nome{
	font-size: 28pt;
}

p#cargo{
	font-size: 28pt;
	top: 330px;
}

p#coordn{
	font-size: 28pt;
}

/*Contatos*/
input#setaup{
	left: 46%;
	width: 60px;
	top: 95%;
}

div#pt8 p#tit{
	right: calc(1% + 50px) !important;
}

p.continf{
	font-size: 30pt;
}

p.continf a{
	text-decoration: underline; 
}

p#contP{
	margin-left: -450px;
	top: 38%;
	left: 58%;
}

p#contE{
	margin-right: -450px;
	top: 18%;
	left: -34%;
}

a#imagens{
	width: 0px;
	top: 58%;
	transition: width .25s, margin .25s;
}

.textcont{
	position: absolute;
	color: white;
	font-family: Qotho;
	text-align: center;
}

a#email{
	left: 100px; 
	right: calc(8% + 50px);
	top: 66%;
	font-size: 27pt;
}

p#textcont{
	left: 100px; 
	top: 76%;
	font-size: 25pt;
}

/*MENU*/
div#menu{
	background-color: rgb(0, 0, 0);
	width: 30%;
	height: 100%;
}

img#botmenu{
	width: 80px;
}


img#botmenu:active{
	width: 72px !important;
	margin: 15px;
}

/* *************************************** MODAL *************************************** */
#modal{
	width: 100%;
	height: 100%;
}

.modal-box{
	width: 1000px;
	height: 564px;
}

.fechar{
	width: 78px;
	height: 37.5px;
	position: absolute;
	right: 10px;
	top: 0;
	cursor: pointer;
}

.fechar p{
	font-size: 15pt;
}

.fechar:active{
	background-color: red;
}

.fechar:active p{
	color: white; 
}